:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 4;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(216, 38, 38, 0.87);
  background-color:rgb(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #000107;
  text-decoration: inherit;
}
a:hover {
  color: #fb0303;
  
  
}


body {
 margin: 0px;
 padding: 0px;
 border: 0px;
}

footer{
  position:relative;
  bottom:0;
  left:0;
  width: 100%;
  background-color: #268570;
  height: 10%;
 
  display: flex;
  justify-content: space-around;
}

main{
  position:relative;
  background-color: #ffffff;
  width: 100%;
  min-height: 100vh;
}



button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ff0000;

}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #f20404;
    background-color: #ffffff;
  }
  a:hover {
    color: #ffffff;
  }
  button {
    background-color: #ed0000;
  }
}

.card-meme{
  display: inline-block;
  margin-right: 20px;
  margin-left: 50px;
}

.card-meme img{
  transition: all 300ms ease-in-out;
  border: 3px solid black;



}

.card-meme img:hover{
  transform: scale(1.1);
  border: 3px solid #ed0000;
  box-shadow: 1px 1px 10px 6px black;
}

#nav-bar{
  
  align-items: center;
  width: 50%;
}


ul{
  list-style-type: none;
  align-items: center;
  display: flex;
  justify-content: space-around;
  box-sizing: content-box;
}




#logout-button{
 display: block;
 justify-content: space-between;
}



#logo-sito{
  float: left;
  width: 200px;
}

.login-form{

  margin-top: 20%;
  margin-left: 20%;
  position: relative;
  align-items: center;
  justify-content: space-between;
}



.albums-button{
  margin-top: 20%;
  margin-left: 20%;
  position: relative;
  align-items: center;
  justify-content: space-between;
 
}

#root {
  display: flex;
  flex-direction: column;
}

header{

 
  margin-top: 0px;
  padding-top: 0px;
  width:100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pack-button{
  color:black;
  display: inline;
  align-items: center;
  justify-content: space-around;
  margin: 10%;
}

.pack-button :hover{
  color:#f20404;
  
}

#contact-button{
  color: black;

}

#contact-button :hover{
  color:#f20404
}

#img1-home{
  
  width: 60%;
  margin-top: 10%;
  margin-left: 30%;
  align-items: center;
}

#grid{
  display: flex;
  justify-content: space-around;
  align-items: center;
 

}

h2{
  margin: 0;
  padding: 0;

}

h3{
  margin: 0;
  padding: 0;
  margin: auto;
}

p{
  margin: 0;
  line-height: 1.4;
  text-align: center;
  margin-right: 20%;
  color: #000107;
}

#text-div-1{
 justify-content: space-between;
 align-items: center;
}


.info-button{
  background-color: #ffffff;
  border-color: #000000;
  color: #000107;
  margin-left: 20%;
}

#pack-grid{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 5%;
}

#pack-grid p{
  
  width: 100%;
}

.pack-grid-div{
  border-style:solid;
  border-color:#ff0000;
  border-radius: 5%;
  border-width:0.5px;
  align-items: center;
  text-align: center;
}
.pack-images{
  width: 40%;
  align-items: center;
  margin:auto
}

#meme{
  width: 173px;
  height: 249px;
}

.login-button{
  color: #000000;
}

.login-button:hover{
  color: #ff0000;
  
}

.login-form{
  border-style:solid;
  border-color:#ff0000;
  border-radius: 5%;
  border-width:0.5px;
  width: 50%;
  margin-top: 5%;
  align-items: center;
  position: relative;
  text-align: center;
  background-color: #e2dede;
  margin: auto;
}

#register-div{
  align-items: center;
}

#register-div p{
  
  width: 100%;
}

#register-div button{
  color: #000000;
}

#register-div:hover{
  color: #ff0000;
}

.login-form-input{
  display: flex;
  cursor: pointer;
  text-align: left;
  width: 70% ;
  padding: 10px 10px;
  align-items: center;
  margin: auto;
  color: black;
  background-color: white;
}



.login-form-input :focus{
  transition: width 0.5s ease-in-out;
}

#pack-cards{
  text-align: center;
  margin: auto;
  margin-top:  5%;
}

#album-grid{
 display: flex;
 justify-content: space-between;
 padding: 0;
 margin-top: 5%;
 margin-bottom: 5%;
}



.album-img-link{
  margin: auto;
  width: 30%;
  height: 38vh;
  display: flex;
  justify-content: center;
}

.album-img-link img{
  width: fit-content;
  height:300px;
}

.album-img-link:hover{
  transform: scale(1.1);
  height: 302px;
  transition: width 0.5s ease-in-out;
}

#searc-duplicates-form{
  border-style:solid;
  border-color: #ed0000;
  border-width:0.5px;
  display: flex;
  margin: auto;
  width: 80%;
  background-color: #e2dede;
  height: 100px;
  margin-bottom: 40px;
  box-shadow: 1px 1px 8px 4px rgb(36, 30, 30);
}

.search-form-input{
  display: flex;
  justify-content: space-around;
  margin: auto;
  color: black;
  background-color: rgb(255, 255, 255);
  padding: 9px 9px;
  
}

.search-form-input :focus{
  transition: width 0.5s ease-in-out;
}

#search-button{
  color:black;
  height: 45px;
  margin: auto;
  
}

#search-button:hover{
  color: #f20404;
}