:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 4;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(216, 38, 38, 0.87);
  background-color:rgb(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #000107;
  text-decoration: inherit;
}
a:hover {
  color: #fb0303;
  
  
}


body {
 margin: 0px;
 padding: 0px;
 border: 0px;
}

footer{
  position:relative;
  bottom:0;
  left:0;
  background-color: #268570;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

main{
  background-color: #ffffff;
  width: 100%;
  
}



button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ff0000;

}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #f20404;
    background-color: #ffffff;
  }
  a:hover {
    color: #ffffff;
  }
  button {
    background-color: #ed0000;
  }
}

.card-meme{
  display: inline-block;
  margin-right: 20px;
  margin-left: 50px;
}

#nav-bar{
  
  align-items: center;
  width: 50%;
}


ul{
  list-style-type: none;
  align-items: center;
  display: flex;
  justify-content: space-around;
  box-sizing: content-box;
}




#logout-button{
 display: block;
 justify-content: space-between;
}



#logo-sito{
  float: left;
  width: 200px;
}

.login-form{

  margin-top: 20%;
  margin-left: 20%;
  position: relative;
  align-items: center;
  justify-content: space-between;
}



.albums-button{
  margin-top: 20%;
  margin-left: 20%;
  position: relative;
  align-items: center;
  justify-content: space-between;
 
}

#root {
  display: flex;
  flex-direction: column;
}

header{

 
  margin-top: 0px;
  padding-top: 0px;
  width:100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pack-button{
  color:black;
  display: inline;
  align-items: center;
  justify-content: space-around;
  margin: 10%;
}

.pack-button :hover{
  color:#f20404;
  
}

#contact-button{
  color: black;

}

#contact-button :hover{
  color:#f20404
}

#img1-home{
  
  width: 60%;
  margin-top: 10%;
  margin-left: 30%;
  align-items: center;
}

#grid{
  display: flex;
  justify-content: space-around;
  align-items: center;
 

}

h2{
  margin: 0;
  padding: 0;

}

p{
  margin: 0;
  line-height: 1.4;
  text-align: center;
  margin-right: 20%;
  color: #000107;
}

#text-div-1{
 justify-content: space-between;
 align-items: center;
}


.info-button{
  background-color: #ffffff;
  border-color: #000000;
  color: #000107;
  margin-left: 20%;
}

#pack-grid{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.pack-grid-div{
  border-style:solid;
  border-color:#ff0000;
  border-radius: 5%;
  border-width:0.5px;
  align-items: center;
  text-align: center;
}
.pack-images{
  width: 40%;
  align-items: center;
  margin-left: 10%;
}

#meme{
  width: 173px;
  height: 249px;
}